doctype html
head
  meta(charset='UTF-8')
  title express
  link(rel='stylesheet' href='./style.css')
header
  nav
     ul#nvul
      li#navli
        a(href='/Home') Home
      li#navli
        a(href='/service') Our Services
      li#navli
        a(href='/contact') Contact Us
  main 
  p service
